
  
  .custom-card {
    width: 300px; /* Adjust the width as needed */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
  }
  
  .custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
  }
  
  .custom-card .card-img-top {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  