.dashboard{
    display: flex;
    gap: 20px;

}
.dashboard--content{
    background:#fff;
    flex:1;
    border-radius:20px;
    padding:2rem;
    display:flex;
    gap:1.5rem;
    justify-content: space-between;
}


@media screen and (max-width: 1307px){
    .dashboard{
        display: block;
        gap: 20px;
    
    } 
}

  @media screen and (max-width: 830px) {
    .dashboard--content {
      flex-direction: column;
    }
    
  }
  @media screen and (max-width: 670px){
    .dashboard{
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
  }